@import "tailwindcss";

body {
    font-family: 'Courier New', monospace;
    background: #1a1a1a;
    height: 100vh;
    min-width: 296px;
    max-width: 1280px;
    margin: auto;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 4px #aaa;
    backdrop-filter: blur(10px);
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
