@import "tailwindcss";

body {
    font-family: 'Courier New', monospace;
    background-color: var(--color-green-950);
    height: 100vh;
    min-width: 296px;
    max-width: 1280px;
    margin: auto;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
